body {
  background-color: #d6dce4;
  margin: 16px;
  padding: 16px;
}

.title-main {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  font-family: 'Arial', sans-serif;

  color: rgb(66, 157, 241);
  text-shadow: 2px 2px 0 #181717,
    /* Sombra 1 */
    4px 4px 0 #131313,
    /* Sombra 2 */
    6px 6px 0 #0a0a0a,
    /* Sombra 3 */
    8px 8px 0 #161616;
  /* Sombra 4 */
}