/* Styles of the first button */
.button-1{
    display: flex;
    align-items: center;
    text-align: right;


    border: none;
    background-color: #007ccd;
    border-radius: 4px;

    color: white;
    font-size: 16px;
    padding: 12px 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.button-icon{
    display: flex;
    text-align: left;

    width: 32px;
    height: 32px;
    margin-right: 8px;
}